<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sopt.befit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AddMySizeBrandPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.ProductContentViewActivity" />
        <activity android:name=".activity.SearchForGoods" />
        <activity android:name=".activity.SearchForBrands" />
        <activity android:name=".activity.InputInfo" />
        <activity android:name=".activity.BrandMainActivity" />
        <activity android:name=".activity.JjimActivity" />
        <activity android:name=".activity.MySizeAddActivity" />
        <activity android:name=".activity.AddMySizeGoodsPageActivity" />
        <activity android:name=".activity.SelectBrandGoodsWindowActivity" />
        <activity android:name=".activity.MyPageAccountSettingActivity"></activity>
    </application>

</manifest>